.u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("np://user.desktop.nicepage.com/Site_309208968/images/f0cca607711242adc7cb5cd879658f118c769f3dd7642be29089ddcc292a056ab2dca36c07630b9da39b6ebd1c1667b5efca06aeb59a247b7bac35_1280.jpg?rand=d8fd");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1 {
  background-image: none;
  min-height: 974px;
}

.u-section-1 .u-image-1 {
  height: 711px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -215px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 430px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 8px;
}

.u-section-1 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 52px auto 0 48px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 8px;
}

.u-section-1 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 52px auto 0 48px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 8px;
}

.u-section-1 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 52px auto 0 48px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 8px;
}

.u-section-1 .u-icon-4 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 52px auto 0 48px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 8.75rem;
  font-weight: 700;
  font-style: italic;
  margin: -718px calc(((100% - 1140px) / 2) + 193px) 60px calc(((100% - 1140px) / 2) + 269px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 996px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 20px;
    margin-left: initial;
    margin-right: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 354px;
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 193px);
    margin-left: calc(((100% - 940px) / 2) + 269px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1816px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1085px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 2116px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 34px;
    margin-right: 207px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 34px;
    margin-right: 207px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 54px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 34px;
    margin-right: 207px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 54px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 34px;
    margin-right: 207px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -1636px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -390px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1414px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 46px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 46px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 42px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 46px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 42px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 46px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
    margin-top: -1593px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("np://user.desktop.nicepage.com/Site_309208968/images/8dd357b45bb50fb118bf9c7d695cc088f389490b85eb127c1daf3fd9d5c52f869ab06ebf575d07830cb90df1002f8cc77c71033ea4a502ee18668f_1280.jpg?rand=1f52");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  margin: 347px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -316px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 282px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 105px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: -438px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("np://user.desktop.nicepage.com/Site_309208968/images/914c7d9687cb46ad1519244e921e1f232629ce153633153dc0b052227a5eaa9d1e6ec2c4611f2dd8e5d3f0919c3b62a27ed0b33692dd9666a5dd56_1280.jpg?rand=e825");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}.u-block-9221-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-9221-3 {
  position: absolute;
  left: 0;
}

.u-block-9221-4 {
  position: absolute;
  right: 0;
}