.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/1841519942-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 991px;
}

.u-section-1 .u-text-1 {
  font-size: 6.875rem;
  line-height: 1;
  background-image: none;
  font-family: "Alex Brush";
  font-weight: 700;
  margin: 119px 14px 0 70px;
}

.u-section-1 .u-video-1 {
  width: 973px;
  height: 577px;
  margin: 15px auto 60px 38px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 132px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 531px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 43px;
  font-size: 3.75rem;
  margin: 65px 34px 0 90px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 65px 34px 0 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin-top: 51px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 491px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 398px;
  height: 398px;
  background-image: none;
  margin: -30px -16px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/direccion-de-proyectos-dudas.jpg");
  background-position: 50% 50%;
  margin: -342px auto 0 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 24px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -330px;
    margin-left: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-2 .u-shape-1 {
    width: 300px;
    height: 300px;
    margin-right: -30px;
  }

  .u-section-2 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: -231px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 424px;
    height: 424px;
    margin-top: 39px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-1 {
    width: 443px;
    height: 443px;
    margin-top: -301px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-shape-1 {
    width: 299px;
    height: 299px;
    margin-top: 21px;
    margin-right: -10px;
  }

  .u-section-2 .u-image-1 {
    width: 299px;
    height: 299px;
    margin-top: -244px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 962px;
}

.u-section-3 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.75rem;
  margin: 104px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 20px -29px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 423px;
  height: 396px;
  margin: -3px auto 0 -58px;
}

.u-section-3 .u-image-1 {
  width: 580px;
  height: 572px;
  object-position: 50% 0%;
  margin: -615px auto 0 -43px;
}

.u-section-3 .u-list-1 {
  width: 582px;
  margin: -539px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 506px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 290px;
    height: 257px;
    margin-top: 19px;
    margin-right: -26px;
  }

  .u-section-3 .u-shape-2 {
    width: 338px;
    height: 363px;
    margin-top: 82px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-1 {
    width: 444px;
    height: 585px;
    object-position: 48.64% 50%;
    margin-top: -638px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 470px;
    margin-top: -587px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 128px;
  }

  .u-section-3 .u-shape-1 {
    width: 483px;
    height: 351px;
    margin-top: 1058px;
  }

  .u-section-3 .u-shape-2 {
    width: 527px;
    height: 489px;
    margin-top: -1376px;
    margin-left: -35px;
  }

  .u-section-3 .u-image-1 {
    height: 690px;
    margin-top: -407px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1589px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 116px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 935px;
    margin-right: -33px;
  }

  .u-section-3 .u-shape-2 {
    width: 474px;
    height: 343px;
    margin-top: -1266px;
  }

  .u-section-3 .u-image-1 {
    height: 547px;
    margin-top: -248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 92px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: 1109px;
    margin-right: -31px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-top: -1426px;
    margin-left: -34px;
  }

  .u-section-3 .u-image-1 {
    height: 372px;
    margin-top: -262px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}